.starter-container{
    background-color:#faf9f5;
    padding:20px;

}
.card1{
    background-color:#f5eee4;
    margin:15px;
    border-radius:10px;
}

.card-details{
    padding:0px;
}
.image{
    width:30vw;
    background-size:cover;
    border-radius:10px;
}
.view-btn{
    border:none;
    background-color:transparent;
    color:blue;
}
.follow-us-container{
    backgroun-color:#1e1f21;
}